/* BLOG SECTION */
.blog--page{
    padding: 7rem 0;
    width: 95rem;
    max-width: 100%;
    margin: 0 auto;
  
  }
  .blog--section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 85rem;
    max-width: 100%;
    margin: 0 auto;
    gap: 1.2em;
  }
  .blog-all-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 68%;
    margin: 10rem auto;
    gap: 20px;
  
  }
  .blog--container{
    width: 26rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  }
  .blog--img{
    width: 26rem;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .blog-item-section{
    display: flex;
    width: 19rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  
  }
  .blog--details{
    padding: 1.8rem;
  }
  .blog-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .blog--comments,
  .blog--date,
  .blog--admin{
    color: #1eb2a6;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 5px;
    text-decoration: none;
  }
  .blog--date,
  .blog--admin{
    color: #999999;
  }
  .blog--icon{
    color: #1eb2a6;
    font-size: 13px;
  }
  
  .blog--title{
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
  }
  .blog--title:hover{
    color: #1eb2a6;
  }
  .blog--title h2{
    margin-bottom: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
  }
  .blog--desc p{
    color: #999999;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
  