/* NEWSLETTER SECTION */
.newsletter--page{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    height: 12rem;
    color: var(--secondary-color);
    padding: 3rem;
    margin: 4rem 0 0 0;
  }
  .news--container{
    display: flex;
    align-items: center;
    width: 80rem;
    max-width: 100%;
    justify-content: space-between;
  }
  .news--title{
    margin-bottom: 12px;
    font-size: 1.7rem;
  }
  .email{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color) !important;
    width: 25rem;
    font-size: 15px;
    padding-bottom: .8rem;
  }
  .email::placeholder{
    color: var(--secondary-color);
    opacity: 1;
  }
  .email:focus{
    outline: none;
  }
  .news--btn-box{
    position: relative;
  }
  .news--btn{
    border: none;
    background: transparent;
    color: var(--secondary-color);
    font-size: 1rem;
    position: absolute;
    top: -12px;
    left: -1rem;
    cursor: pointer;
  
  }
  .form{
    display: flex;
    align-items: center;
    width: 25rem;
  }

  /* NEWSLETTER RESPONSIVE SECTION */

  @media screen  and (max-width: 860px){
    .email,
    .form{
      width: 20rem;
    }
    .news--title{
      width: 22rem;
    }
  }
  @media screen  and (max-width: 770px){
    .news--container{
      flex-direction: column;
    }
    .newsletter--page{
      height: 18rem;
      padding: 2rem;
    }
    .email,
    .form{
      width: 25rem;
    }
    .news--title{
      width: 25rem;
    }
  }
  @media screen  and (max-width: 480px){
    .email,
    .form,
    .news--title{
      width: 21rem;
      max-width: 100%;
    }
  }
  @media screen  and (max-width: 420px){
    .email,
    .form,
    .news--title{
      width: 18rem;
      max-width: 100%;
    }
  }


