/* ONLINE COURSES LIST SECTION */
.online--page{
    padding: 8rem 0;
  }
  .online--courses{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
    width: 85rem;
    max-width: 100%;
    margin: 0 auto;
  
  }
  .sample-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 13.5rem;
    height: 15rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .sample-box:hover,
  .sample-box:focus{
    border: .4rem solid #1eb2a6;
  
  }
  
  .sample-details{
    margin-top: .5rem;
    width: 13rem;
    padding: 1rem;
  }
  
  .sample-info{
    height: 12rem;
  }
  .sample-details h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(74, 74, 74);
  }
  .sample-details p{
    font-size: 13px;
    color: #1eb2a6;
  }
  .courses-icon{
    width: 4.5rem;
  }

  @media screen and (max-width: 1360px) {
    .online--courses{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      width: 60rem;
    }
  }
  @media screen and (max-width: 930px) {
    .online--courses{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      width: 45rem;
    }
  }
  @media screen and (max-width: 670px) {
    .online--courses{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      width: 30rem;
    }
  }
  @media screen and (max-width: 470px) {
    .online--courses{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
      width: 90%;
    }
    .sample-box{
      width: 20rem;
    }
    
  }
  