/* TESTIMONIAL SECTION */
.testimonial--section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80rem;
    margin: 0 auto;
  }
  .testimonial--page{
    padding: 8rem 0;
  }
  .testimonial--box{
    width: 25rem;
    background-color: #fff;
    height: 16rem;
    padding: 2rem;
    border-radius: 5px;
  }
  .testimonial--img{
    width: 5rem;
    border-radius: 100%;
  }
  .student--prof{
    display: flex;
    align-items: center;
  }
  .student--info{
    margin-left: 1rem;
  }
  .testimonial--title{
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  .job--title{
    color: #1eb2a6;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-top: 13px;
  }
  .testimonial--text p{
    margin-top: 1rem;
    font-size: 16px;
    color: #999999;
    line-height: 1.8;
    width: 20rem
  }