@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
  --primary-color: #1eb2a6;
  --secondary-color: #ffffff;
  --subtitle:  rgba(0, 0, 0, 0.8);
  --text-dark: #000000;
  --text-light: #999999;
  --main-bg: rgb(234, 234, 234, .4);
  --footer-text-color: #666666;
  --custom:  rgba(0, 0, 0, 0.1);
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg);
}

@media screen and (max-width: 990px) {
  html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}







