@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(234, 234, 234, .4);
}

/* TOP SECTION NAV */
.top--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 95rem;
  height: 5rem;
  margin: 0 auto 1rem auto;

}

.logo{
  color: #fff;
  text-transform: uppercase;
}
.logo h2{
  font-size: 2rem;
}
.logo p{
  font-size: 13px;
  font-weight: 500;
  margin-top: 3px;
}

/* Contact Details Header */
.time{
  margin-right: 3rem;
}
.phone,
.time{
  display: flex;
  align-items: center;
  color: #fff;

}
.phone--icon,
.time--icon{
  font-size: 2.8rem;
  color: #fff;
  margin-right: 5px;
}
.bold--text{
  font-weight: 700;
  margin-top: 5px;
}
.contact-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
}
.contact-details{
  display: flex;
}
/* Social Media Icons Header */
.media--icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}
.media--icons span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  color: #1eb2a6;
}

/* Nav Section */
.navbar{
  padding: 1rem;
}

.main-nav{
  height: 5rem;
  align-items: center;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-list{
  display: flex;
  list-style: none;
  color: #fff;
  width: 45rem;
  padding-left: 1rem;
  justify-content: space-around;

}
.nav-list li{
  font-weight: 500;
  font-size: 15px;
}
.nav-link{
  text-decoration: none;
  color: #fff;
}
.nav-btn{
  background-color: #1eb2a6;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width: 16rem;
  height: 100%;
  letter-spacing: 1px;
  cursor: pointer;
}

/* HERO SECTION */
.section--one{
  background-image: url("https://preview.colorlib.com/theme/academia/images/bg_1.jpg");
}
.section--two{
  background-image: url("https://preview.colorlib.com/theme/academia/images/bg_2.jpg");
}

.section--one,
.section--two{
  background-attachment: fixed;
  background-position: inherit;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60rem;
  position: relative;
  margin: auto;
  width: 100%;
  z-index: 1;
}

.section--one::before,
.section--two::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .1;
  background-color: black;
}


.hero--main{
  align-items: flex-start;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 40rem;
}
.hero--main-two{
  align-items: center;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
  height: 40rem;
  text-align: center;
  flex-direction: column;

}
.hero{
  padding: 1rem;
}
.hero--details{
  width: 29rem;
}
.hero--details h5{
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 1px;
}
.hero--details-two .all-course-title{
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.hero--details h1{
  font-size: 2.5rem;
  margin: 1rem 0 1.6rem 0;
}
.hero--details p{
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-size: 16px;
}
.arrow{
  margin-left: .5rem;
  font-size: 1rem;
}
.hero--btn{
  width: 22.3rem;
  display: flex;
  justify-content: space-between;
}
.prev-home{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all .3s ease;
}
.course-current{
  display: flex;
  align-items: center;

}
.prev-home:hover{
  color: #1eb2a6;
}
.home-link{
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  align-items: center;
}
.getstarted--btn,
.course--btn{
  background-color: #1eb2a6;
  border: none;
  height: 3rem;
  width: 12rem;
  font-size: 11px;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.course--btn{
  background-color: #fff;
  color: #1eb2a6;
  width: 10rem;
}

/* BENEFITS SECTION */
.main--benefits{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  width: 100rem;
  margin: 0 auto;
  height: 52rem;

}
.benefits--img{
  width: 38rem;
  height: 52rem;
  object-fit: cover;
}
.img-container{
  height: 52rem;
}
.benefits--header{
  width: 30rem;
}
.benefits--header h5{
  color: #1eb2a6;
  text-transform: uppercase;
  font-size: .95rem;
}
.benefits--header h2{
  font-size: 3rem;
  font-weight: 500;
  margin: 1.1rem 0 1.3rem 0;
}
.benefits--details{
  height: 42rem;
}
.benefits--info{
  display: flex;
  height: 31rem;
  flex-direction: column;
  justify-content: space-between;
}
.box-one,
.box-two,
.box-three{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  width: 40rem;
  height: 10rem;
  border-radius: 5px;
}
.benefits--icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.book--icon,
.cert--icon,
.cert--icon{
  font-size: 4rem;
  color: #1eb2a6;

}
.details--desc h3{
  font-weight: 500;
  font-size: 1.25rem;
}
.details--desc p{
  font-size: 16px;
  width: 30rem;
  line-height: 1.7;
  margin: 1rem 0;
  color: rgb(144, 144, 144);
}

/* REVIEW SECTION */

.review--section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("https://preview.colorlib.com/theme/academia/images/bg_3.jpg");
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  z-index: 1;
  color: #fff;
}


.review--section::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
  background-color: #000;
}

.stories,
.tutors,
.schedules,
.courses{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.stories--icon{
  font-size: 3.2rem;
}
.review--details{
  margin-left: 1rem;

}
.review--details h4{
  font-size: 2.8rem;
}
.review--details p{
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* COURSES SECTION */
.course--page{
  padding: 160px 0;
  width: 65%;
  margin: 0 auto;
}
.course-all-page{
  padding: 160px 0;
  width: 65%;
  margin: 0 auto;
}
.course-all{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.2rem;
}
.course--container{
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.course--main{
  background-color: #fff;
  height: 28.5rem;
  width: 25rem;
  padding: 2rem;
}
.courses--section{
  display: flex;
  align-items: flex-start;
  width: 22rem;
  justify-content: space-evenly;
}
.course--all{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
}
.course--details{
  line-height: 1.5;
  margin-left: 1rem;
}
.course-title-home{
  text-align: center;
  margin-bottom: 5rem;
}
.course-title-home h5{
  color: #1eb2a6;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-size: 1rem;
}
.course-title-home h1{
  color: rgb(74, 74, 74);
  font-size: 3rem;
  font-weight: 500;
}

.course--title{
  font-weight: 500;
  width: 15rem;
  color: rgb(74, 74, 74);
  margin-bottom: 5px;
}

.lect{
  margin-bottom: 1rem;
}
.rating{
  margin-bottom: 10px;
}
.course--prof{
  width: 2rem;
  border-radius: 100%;
}
.course--icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1eb2a6;
  width: 5rem;
  height: 5rem;
  color: #fff;
  border-radius: 100%;
}
.user--name{
  display: flex;
  align-items: center;
}
.user--name span{
  color: gray;
  margin-left: 5px;
  font-weight: 500;
}

.courses--price{
  font-weight: 500;
  color: #1eb2a6;
  margin: 2rem 0 1.7rem 0;
}
.price--section{
  width: 100%;
  text-align: center;
}
.courses-hours{
  font-weight: 400;
  color: #1eb2a6;
  font-size: 14px;
}
.btn-cont{
  margin: 0 auto;
}
.enroll--btn{
  margin: 2rem 0;
  border: 1px solid #1eb2a6;
  background-color: transparent;
  text-transform: uppercase;
  width: 100%;
  height: 3.5rem;
  font-weight: bold;
  color: #1eb2a6;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all .3s ease;
  cursor: pointer;
}
.enroll--btn:hover{
  background-color: #1eb2a6;
  color: #fff;
}

/* ONLINE COURSES LIST SECTION */
.online--page{
  padding: 8rem 0;
}
.online--courses{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  place-items: center;
  width: 85rem;
  margin: 0 auto;

}
.sample-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 13.5rem;
  height: 15rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.sample-box:hover{
  border: .4rem solid #1eb2a6;

}

.sample-details{
  margin-top: .5rem;
  width: 13rem;
  padding: 1rem;
}

.sample-info{
  height: 12rem;
}
.sample-details h2{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: rgb(74, 74, 74);
}
.sample-details p{
  font-size: 13px;
  color: #1eb2a6;
}
.courses-icon{
  width: 4.5rem;
}

/* TESTIMONIAL SECTION */
.testimonial--section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80rem;
  margin: 0 auto;
}
.testimonial--page{
  padding: 8rem 0;
}
.testimonial--box{
  width: 25rem;
  background-color: #fff;
  height: 16rem;
  padding: 2rem;
  border-radius: 5px;
}
.testimonial--img{
  width: 5rem;
  border-radius: 100%;
}
.student--prof{
  display: flex;
  align-items: center;
}
.student--info{
  margin-left: 1rem;
}
.testimonial--title{
  text-transform: uppercase;
}
.job--title{
  color: #1eb2a6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-top: 13px;
}
.testimonial--text p{
  margin-top: 1rem;
  font-size: 16px;
  color: #999999;
  line-height: 1.8;
  width: 20rem
}

/* BLOG SECTION */
.blog--page{
  padding: 7rem 0;
}